<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div class="myfooter">
<footer class="footer mt-autopy-3 bg-dark fg-dark">
  <div class="container">
    <span class="text-muted">Entre em contato.</span><br>
    <a href="{{ url_for('info') }}"><span class="material-icons" style="font-size: 48px; color:snow; padding-right: 20px;">
contact_phone
      </span></a>
        <a href="{{ url_for('contato') }}"><span class="material-icons" style="font-size: 48px; color:snow">
contact_mail
      </span></a>
  </div>
</footer>
</div>

